__pycache__/
*.pyc
.venv/
.env
*.egg-info/
.DS_Store
.streamlit/secrets.toml
**/.streamlit/credentials.toml
data/*.parquet
data/*.feather
data/*.xlsx
data/tmp/

# local virtual envs
.venv*/
secrets.toml
